// coment

header.header {
	font-family: $main-font;
	overflow: hidden;
	.header__top {
		width: 100%;
		padding-top: 16px;
		padding-bottom: 15px;
		color: #fff;
		background-color: $main-color;
		.container {
			background-color: $main-color;
			.top {
				display: flex;
				justify-content: space-between;
				font-weight: 400;
				font-size: 16px;
				.welcome {
					.welcome__title {
						font-size: 16px;
						font-weight: 400;
					}
				}
				.reg {
					display: flex;
					justify-content: space-between; 
					.reg__lang {
						margin-right: 20px;
						select.lang {
							background-color: $main-color;
							color: #fff;
							font-weight: 400;
							font-size: 16px;
							option.lang__item {
								border: 1px solid $main-color;
							}
						}
					}
					.reg__line {
						margin-right: 20px;
						width: 2.2px;
						background-color: #fff;
					}
					.reg__login {
						font-weight: 400;
						font-size: 16px;
						a {
							color: #fff;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.container {
		.lsa {
			display: flex;
			justify-content: start;
			padding: 21px 0 25px 0;
			.logo {
				max-width: 147px;
				height: 100%;
				margin-right: 120px;
				a.logo__link {
					img.logo__img {
						height: 100%;
						width: 100%;
					}
				}
			}
			form.search-form {
				display: flex;
				justify-content: start;
				position: relative;
				margin-right: auto;
				width: 582px;
				border: 2px solid $main-color;
				border-radius: 8px;
				.categories {
					color: $sub-color;
				}
				div input.search-form__query {
					position: relative;
					padding: 15px 15px 14px 25px;
					width: 409px;
					margin-right: 10px;
					// border-right: 2px solid #E9E9E9;
					border-radius: 8px 0px 0px 8px;
					&::placeholder {
						color: #B0B0B0;
					}
				}
				div select.search-form__categories {
					color: $sub-color;
					margin-right: 19px;
					padding: 15px 0px 14px 0px;
					option.search-form__categories-item {
						color: $sub-color;
					}
				}
				div button.search-form__btn-search {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 55px;
					height: 100%;
					border: 2px solid $main-color;
					background-color: $main-color;
				}
				div button.search-form__btn-search::after {
					content: '';
					width: 16px;
					height: 16px;
					background-image: url("../icons/search-glass.png");
				}
			}
			form.search-form::after {
				content: '';
				display: block;
				position: absolute;
				top: 0px;
				right: 170px;
				width: 1px;
				height: 100%;
				background-color: #E9E9E9;
			}
			.profile {
				display: flex;
				height: 100%;
				padding-top: 14px;
				text-align: right;
				&__link {
					display: block;
					margin-right: 21px;
				}
				.mod-mr0 {
					margin-right: 0;
				}
				.mod-basket-count {
					position: relative;
				}
				.mod-basket-count::after{
					content: '4';
					position: absolute;
					top: -2px;
					right: -8px;
					width: 13px;
					height: 13px;
					text-align: center;
					padding-top: 3px;
					color: #ffffff;
					font-size: 8px;
					font-weight: 400;
					border-radius: 50%;
					background-color: $main-color;
				}
			}

		}
	}
	.main-menu {
		position: relative;
		text-transform: uppercase;
		.container {
			@include container;
			display: flex;
			justify-content: start;
			.main-menu__wrapp {
				display: flex;
				justify-content: start;
				width: 100%;
				.sub-menu-wrapp {
					.all {
						position: relative;
						display: flex;
						padding: 26px 0px 23px 74px;
						width: 260px;
						height: 67px;
						background-color: $main-color;
						img.all-img {
							position: absolute;
							top: 23px;
							left: 33px;
							width: 22px;
							height: 18px;
						}
						span.all-collections {
							font-weight: 500;
							font-size: 15px;
							line-height: 100%;
							letter-spacing: 1px;
							color: #ffffff;
						}
					}
					nav.sub-menu {
						width: 260px;
						background-color: #F7F8FA;
						ul.sub-menu__list {
							list-style: none;
							li.sub-menu__item {
								display: block;
								padding: 11px 0px 15px 29px;
								border-bottom: 1px #E3E3E3 solid;
								a.sub-menu__link {
									font-family: $main-font;
									font-weight: 400;
									font-size: 14px;
									color: $sub-color;
									text-decoration: none;
									text-transform: capitalize;
								}
							}
							li.sub-menu__item:last-child {
								border-bottom: none;
							}
						}
					}
					.sub-menu:last-child {
						padding-bottom: 0;
					}
				}
				.menu-wrapp {
					display: flex;
					flex-direction: column;
					width: 100%;
					.preview-wrapp {
						display: flex;
						justify-content: start;
						border-top: 11px solid #fff;
						border-left: 12px solid #fff;
						background-color: #F2FBFF;
						width: 100%;
						height: 450px;
						.preview-title {
							margin-right: 20px;
							padding-top: 73px;
							padding-left: 47px;
							.preview-top {
								font-family: $main-font;
								font-weight: 400;
								font-size: 22px;
								color: $main-color;
							}
							h1.title {
								position: relative;
								margin-top: 7px;
								font-family: $main-font;
								font-weight: 500;
								font-size: 40px;
								color: #000;
								text-transform: capitalize;
								img.title__img {
									position: absolute;
									top: 78px;
									right: -6px;
									width: 192px;
									height: 6px;
								}
							}
							.rpeview-bottom {
								margin-top: 33px;
								font-family: $sub-font;
								font-weight: 600;
								font-size: 27px;
								color: #838383;
								text-transform: none;
							}
							button.btn-shop-now {
								padding: 10px 18px;
								margin-top: 35px;
								font-family: $sub-font;
								font-weight: 700;
								font-size: 16px;
								border-radius: 5px;
								background-color: $main-color;
								color: #fff;
							}
						}
						.preview-slider {
							margin-right: 6px;
							padding-top: 36px;
							min-width: 0;
							.image-slider {
								width: 374px;
								border-radius: 30px;
								overflow: hidden;
								.image-slider__wrapper {
									width: 374px;
									height: 374px;
									.image-slider__slide {
										width: 374px;
										.image-slider__image {
											text-align: center;
											img {
												max-width: 100%;
											}
										}
									}
								}
							}
							.image-slider .swiper-pagination {
								padding: 0;
								margin-left: 130px;
								.swiper-pagination-bullet-active {
									width: 24px;
									height: 9px;
									border-radius: 666px;
									background-color: $main-color;
								}
							}
							.image-slider .swiper-pagination-bullet {
								width: 12px;
								height: 12px;
								line-height: 20px;
								margin-right: 15px;
								background-color: $main-color;
							}
						}

						.preview-right {
							display: flex;
							flex-direction: column;
							padding-top: 58px;
							width: 98px;
							.preview-right__item {
								display: flex;
								flex-direction: column;
								align-items: center;
								padding-top: 5px;
								padding-bottom: 5px;
								text-align: center;
								margin-bottom: 25px;
								width: 100%;
								height: 91.5px;
								background-color: #fff;
								border-radius: 8px;
								.preview-right__img {
									margin-bottom: 4px;
									img.preview-right-img {
										width: 100%;
									}
								}
								.price-sumbol {
									font-weight: 500;
									font-size: 7px;
								}
								.preview-right__price {
									margin-bottom: 5px;
									font-family: $main-font;
									font-weight: 500;
									font-size: 12px;
									color: $main-color;
								}
								.preview-right__descr {
									font-family: $main-font;
									font-weight: 500;
									font-size: 9px;
									text-transform: capitalize;
									color: $sub-color;
								}
							}
						}
					}
				}
			}
			
			nav.menu {
				display: flex;
				align-items: center;
				height: 67px;
				padding: 25px 0 25px 82px;
				ul.menu__list {
					list-style: none;
					li.menu-item {
						display: inline-block;
						margin-right: 63px;
						a.menu-link {
							font-family: $main-font;
							font-weight: 400;
							font-size: 14px;
							color: $sub-color;
							text-decoration: none;
						}
					}
					li.menu-item:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	.main-menu::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 67px;
		z-index: -1;
		background-color: #F7F8FA;
	}
}
.block_mt {
	margin-top: 100px;
}